/* begin reset */

*{ 	margin: 0;
	padding: 0;
	font-family:Arial, Helvetica, sans-serif;
}
	
/* end reset */

body {
	background-color:#002200
}

p {
	line-height: 160%;
	text-align:justify;
	margin:20px;
}

strong {
	font-weight: bold;
}

h1 {
	margin:30px, auto;
	text-align:center;
}

h2 {
	margin-top:40px;
	margin-left:10px;
}

h3 {
	margin-top:30px;
	margin-left:10px;
}

ol, ul {
	margin-left: 35px;
	margin-right: 20px;
	text-align:justify;
	line-height: 160%;
}

li {
	margin-top:7px;
}

a {
	color:#000000;
}

a:hover {
	color:#666666;
}

#wrapper {
	width: 1000px;
	background-color: #EEEEEE;
	margin: 0 auto;
}

#header {
	width: 100%;
	background-color:#DDDDDD;
	color:black;
	overflow: hidden;
}

#headerlogo {
	float:left;
	margin: 10px;
}

#headercourse {
	float:right;
	margin: 20px;
}

#navmenu {
	background-color:#666666;
	clear: both;
    text-align:center;
}

#navmenu ul {
	width: 100%;
	float: left;
	margin: 0px;
	background-color: #666666;
}

#navmenu ul li {
	background-color: #888888;
	display: inline;
	margin: 0px;
}

#navmenu ul li a {
	float: left;
	padding: 10px 20px;	
	border-right: 1px solid #FFFFFF;
	text-decoration: none;
}

#navmenu a:link 		{ color:#FFFFFF; }
#navmenu a:visited 		{ color:#FFFFFF; }
#navmenu a:active		{ color:#FFFFFF; }
#navmenu a:hover 		{ color:#FFFFFF; background-color: #AAAAAA}
#navmenu a:focus		{ color:#FFFFFF; }


#maincontent {
	width: 700px;
	background-color:#FFFFFF;
	float: left; 
	margin: 0px;
	padding: 20px 0px;
	overflow: hidden;
}

#sidebar {
	width: 260px;
	background-color:#EEEEEE;
	margin-left:720px;
	padding:0px;
}
#sidebar h2{
	text-align: center;
	margin-bottom: 15px;
}

.resource
{
	background-color: #444444;
	border: 1px black solid;
	padding: 10px;
	margin: 10px;
	text-align: center;
}
.resource:hover{
	background-color: #888888;
}
.resource a {
	text-decoration:none;
}

.resource a:link 		{ color:#FFFFFF; }
.resource a:visited 	{ color:#FFFFFF; }
.resource a:active		{ color:#FFFFFF; }
.resource a:hover 		{ color:#FFFFFF; }
.resource a:focus		{ color:#FFFFFF; }

#workedproblems {
	width: 1000px;
	padding: 0px;
	border-top: 2px #DDDDDD solid;
	clear: both;	
}
#workedproblems h2{
	text-align: center;
	margin-bottom: 15px;
}

#practiceproblems {
	width: 1000px;
	padding: 0px;
	border-top: 2px #DDDDDD solid;
	clear: both;	
}
#practiceproblems h2{
	text-align: center;
	margin-bottom: 15px;
}

.problem {
	width: 900px;
	margin: 20px auto;
	overflow: hidden;
	padding: 0;
	background-color: #FFFFFF;
	border: 2px #000000 solid;
}

.question {
	display: block;
	float: left;
	width: 560px;
	margin: 0;
	padding: 20px;
	border-right: 2px #DDDDDD solid;
}
.question img {
	display: block;
	margin: 10px auto;
}

.solution {
	padding: 20px;
	margin-left: 600px;
	border-left: 2px #DDDDDD solid;
}
.solution h3 {
	margin: 30px 5px;
}

.importbox {
	display: block;
	float: center;
	width: 860px;
	padding: 20px;
}

video {
	text-align:center;
}

/* Dealing with the Figures in the Pages  */

figure {
	display: table;
    width: 100px;
    padding:6px;
    margin:4px;
    border:1px black solid;
    background-color:#eeeeee;
    font-size:10px;
}

figure.equation {
	margin-left:auto;
    margin-right:auto;
    clear:both;
    background-color:#FFFFFF;
    padding: 0;
    border:0;
}

figure.center {
    margin-left:auto;
    margin-right:auto;
    clear:both;
}

figure.left {
	float:left;
	margin: 20px;
}

figure.right {
	float:right;
	margin: 20px;
}


img, figcaption {
    text-align: center;
    display: table-row;
    padding:0px;
    line-height: 140%;
}

table.figtable {
	margin-left:auto;
	margin-right:auto;
	clear:both;
}

table.equation {
	margin-left:auto;
	margin-right:auto;
	clear:both;
}

table.equation th, td {
	padding: 10px;
	font-size: 20px;
}

table.equation th {
	text-align: right;
}


#footer {
	width: 1000px;
	background-color: #DDDDDD;
	clear: both;
}
#footer table {
	margin: 10px auto;
}
#footer table td {
	text-align: center;
	font-size: 10px;
	width: 200px;
	padding: 10px 20px;
}

#footer td img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#footer a:link 		{ color:#444444; }
#footer a:visited 	{ color:#444444; }
#footer a:active	{ color:#444444; }
#footer a:hover 	{ color:#444444; }
#footer a:focus		{ color:#444444; }

